# Archivos de compilación
bin/
obj/

# Archivos de usuario y configuración de Visual Studio Code
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Dependencias de NuGet
packages/
project.lock.json
project.assets.json
project.nuget.cache
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

# Carpetas de publicación
publish/
wwwroot/

# Archivos de logs
logs/
*.log
